<mat-list>
  <div *ngFor="let item of (newsfeed$ | async)">
    <mat-list-item>
      <p mat-line>{{item.text}}</p>
      <p mat-line style="font-size:x-small; color:rgba(0, 0, 0, 0.54)"> {{item.publicationDate}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>
<!-- <pre>
  {{newsfeed$ | async | json}}
</pre> -->
<div fxLayout="column" fxFlexFill>
  <div fxFlexOrder="2" fxFlexAlign="center">
    <button mat-raised-button (click)="onCreate(text.value, publicationDate.value)">Add</button>
  </div>
  <div style="margin:2%" fxFlexAlign="center">
    <mat-form-field style="width: 100%;">
      <textarea matInput #text placeholder="Text"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput #publicationDate [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

</div>
